<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="metronic_theme/master.html" />

  <head>
    <title>How It Work</title>
 
  </head>
 <body>
 <div class="main">
 <div class="container">
 	<div class="row service-box margin-bottom-20">
 		<div class="content-page">
 			 
			<div class="row">
                <div class="content-page page-404">
               <div class="number"> <img src='/img/show-hand.png'/> </div>
               <div class="details">
                  <h2>Create an account</h2>
                 
                  	 <p><i class="fa fa-check-square-o fa-lg" style="color:green"> Create poll, survey, exam easy to build </i> </p>
                  	<p><i class="fa fa-check-square-o fa-lg" style="color:green"> Easy Create From</i> </p>
                  	<p><i class="fa fa-check-square-o fa-lg" style="color:green"> Basic Question Type</i> </p>
                  	<p><i class="fa fa-check-square-o fa-lg" style="color:green"> Create Invitation Template</i> </p>
                  	<p><i class="fa fa-check-square-o fa-lg" style="color:green"> Manage Publication</i> </p>
                  	<p><i class="fa fa-check-square-o fa-lg" style="color:green"> View Result</i></p>
                  	  
 
                      
                   
               </div>
            </div>
            </div>
		
		 
		</div>
 	</div>
 	
 	
 
 </div>
 </div>
  </body>
</html>
