<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="metronic_theme/master.html" />

  <head>
    <title>Privacy Policy</title>
 
  </head>
 <body>
 <div class="main">
 <div class="container">
 	<div class="row service-box margin-bottom-20">
 		<div class="col-md-12 col-sm-12">
            
	 		<div class="content-page">
				<div class="row">
					<h1>นโยบายความเป็นส่วนตัว</h1>
					<div class="col-md-12 col-sm-12">
						<div class="tab-content" style="padding:0; background: #fff;">
							<div class="tab-pane active" id="tab_1">
								<div class="panel-group" id="accordion1">
									<div class="panel panel-default">
		                               <div class="panel-heading">
		                                  <h4 class="panel-title">
		                                     <div class="accordion-toggle">
		                                    		ข้อที่ 1 การเก็บรวบรวมข้อมูลและการใช้ข้อมูลส่วนตัว
		                                     </div>
		                                  </h4>
		                               </div>
		                               <div class="panel-collapse collapse in" id="accordion1_1">
		                                  <div class="panel-body">
		                                     <p>www.pollsurfvey.com จะเก็บรวบรวมข้อมูลส่วนบุคคลของท่านเมื่อท่านลงทะเบียนใช้งานกับทาง www.pollsurfvey.com และจะเก็บข้อมูลเพิ่มเติมในแต่ละครั้งที่ท่านเข้าสู่ระบบด้วย ได้แก่ หมายเลข IP (IP Address) บันทึกหน้าเว็บที่ท่านเยี่ยมชม เวลาที่เยี่ยมชมเว็บไซต์ และ“คุกกี้” บนเครื่องคอมพิวเตอร์ 
		                                     </p>
		                                     <p>ข้อมูลของแบบสอบถามของท่านที่ได้สร้างบน www.pollsurfvey.com จะถูกจัดเก็บไว้บนเครื่องคอมพิวเตอร์แม่ข่ายของ  www.pollsurfvey.com ทางเราเข้าใจดีว่าข้อมูลเหล่านั้นเป็นข้อมูลของคุณและขอรับรองว่าจะไม่นำ ข้อมูลเหล่านั้นติดต่อกับผู้ที่ตอบแบบสอบถามของคุณหรือเผยแพร่ไปยังบุคคลที่ สาม หากแต่ทาง www.pollsurfvey.com ขอสงวนสิทธิ์ในการตรวจสอบและลบข้อมูลที่ละเมิดกฎหมายเพื่อปกป้องสิทธิ์ของทางเรา
		                                     </p>
		                                     <p>การลงทะเบียนใช้งานและการใช้บริการของทาง www.pollsurfvey.com นั้น ถือว่าท่านได้ยอมรับนโยบายความเป็นส่วนตัวนี้แล้ว 
		                                     </p>
		                                  </div>
		                               </div>
		                            </div>
								</div>
							</div>
						</div>
						
						
						<div class="tab-content" style="padding:0; background: #fff;">
							<div class="tab-pane active" id="tab_1">
								<div class="panel-group" id="accordion1">
									<div class="panel panel-default">
		                               <div class="panel-heading">
		                                  <h4 class="panel-title">
		                                     <div class="accordion-toggle">
		                                    		ข้อที่ 2 การเปิดเผยข้อมูลต่อสาธารณชน 
		                                     </div>
		                                  </h4>
		                               </div>
		                               <div class="panel-collapse collapse in" id="accordion1_1">
		                                  <div class="panel-body">
		                                     <p>ทาง www.pollsurfvey.com จะไม่จัดสรรหรือขายข้อมูลส่วนบุคคลของท่านให้แก่บุคคลภายนอกอื่น เพื่อวัตถุประสงค์ในการนำไปใช้โดยอิสระหรือเชิงการค้า นอกจากนี้ www.pollsurfvey.com จะไม่เปิดเผยข้อมูลส่วนบุคคลของท่านให้แก่องค์กรอื่นใด เว้นแต่
		                                     	<ul>
		                                     		<li>ได้รับความยินยอมจากท่าน </li>
		                                     		<li>กรณีที่ www.pollsurfvey.com ได้ให้บริษัทในเครือหรือได้ว่าจ้างหน่วยงานอื่นเพื่อให้ดำเนินการเกี่ยวกับ ข้อมูลส่วนบุคคลของท่าน ในการวิเคราะห์เชิงสถิติ www.pollsurfvey.com จะกำหนดให้หน่วยงานที่ได้ว่าจ้างให้ดำเนินการดังกล่าวเก็บรักษาความลับและ ความปลอดภัยของข้อมูลส่วนบุคคลของท่าน ให้เป็นไปตามนโยบายความเป็นส่วนตัวนี้</li>
		                                     		<li>www.pollsurfvey.com อาจเปิดเผยข้อมูลเป็นกรณีพิเศษเมื่อทางเรา พิจารณาเห็นว่าการเปิดเผยข้อมูลนั้น จะมีผลต่อการดำเนินการด้านกฎหมายกับผู้ที่ละเมิดเงื่อนไขการให้บริการของทาง www.pollsurfvey.com หรือเป็นต้นเหตุแห่งความกระทบกระเทือน หรือความเสียหายใดๆ ต่อผู้ใช้บริการของทาง www.pollsurfvey.com จากการแทรกแซง หรือละเมิดสิทธิ์และสมบัติใดๆ ไม่ว่าด้วยเจตนาหรือไม่ก็ตามนอกจากนี้ www.pollsurfvey.com สามารถเปิดเผยข้อมูลหากได้รับการร้องขอจากทางราชการ ภายใต้อำนาจของกฎหมายที่เกี่ยวข้อง </li>
		                                     	</ul>
		                                     </p>
		                                  </div>
		                               </div>
		                            </div>
								</div>
							</div>
						</div>
						
						  
						
						<div class="tab-content" style="padding:0; background: #fff;">
							<div class="tab-pane active" id="tab_1">
								<div class="panel-group" id="accordion1">
									<div class="panel panel-default">
		                               <div class="panel-heading">
		                                  <h4 class="panel-title">
		                                     <div class="accordion-toggle">
		                                    		ข้อที่ 3 การยกเลิกสถานภาพสมาชิก 
		                                     </div>
		                                  </h4>
		                               </div>
		                               <div class="panel-collapse collapse in" id="accordion1_1">
		                                  <div class="panel-body">
		                                     <p>คุณสามารถยกเลิกสถานภาพสมาชิกกับทาง www.pollsurfvey.com  ได้ทุกเมื่อ ข้อมูลทั้งหมดของคุณรวมถึงข้อมูลแบบสอบถามจะถูกลบ คุณจะไม่สามารถเข้าถึงข้อมูลดังกล่าวได้อีก อย่างไรก็ตาม คุณรับทราบว่าอาจมีข้อมูลที่หลงเหลืออยู่ ที่ไม่สามารถนำออกจากเครื่องคอมพิวเตอร์ได้หมดได้ 
		                                     </p>
		                                  </div>
		                               </div>
		                            </div>
								</div>
							</div>
						</div>
						
						<div class="tab-content" style="padding:0; background: #fff;">
							<div class="tab-pane active" id="tab_1">
								<div class="panel-group" id="accordion1">
									<div class="panel panel-default">
		                               <div class="panel-heading">
		                                  <h4 class="panel-title">
		                                     <div class="accordion-toggle">
		                                    		ข้อที่ 4  ข้อตกลงของท่าน  
		                                     </div>
		                                  </h4>
		                               </div>
		                               <div class="panel-collapse collapse in" id="accordion1_1">
		                                  <div class="panel-body">
		                                     <p>เมื่อคุณตัดสินใจใช้บริการบน www.pollsurfvey.com  คุณตกลงยอมรับกับนโยบายความเป็นส่วนตัวฉบับนี้แล้ว
		                                     </p>
		                                  </div>
		                               </div>
		                            </div>
								</div>
							</div>
						</div>
						
						
						<div class="tab-content" style="padding:0; background: #fff;">
							<div class="tab-pane active" id="tab_1">
								<div class="panel-group" id="accordion1">
									<div class="panel panel-default">
		                               <div class="panel-heading">
		                                  <h4 class="panel-title">
		                                     <div class="accordion-toggle">
		                                    		ข้อที่ 5 การเปลี่ยนแปลงนโยบายความเป็นส่วนตัวฉบับนี้  
		                                     </div>
		                                  </h4>
		                               </div>
		                               <div class="panel-collapse collapse in" id="accordion1_1">
		                                  <div class="panel-body">
		                                     <p>ทางเราสงวนสิทธิที่จะเปลี่ยนแปลง, แก้ไข หรือเพิ่มข้อกำหนดและเงื่อนไขของนโยบายคุ้มครองความเป็นส่วนตัวได้ตลอดเวลา ทั้งนี้เมื่อมีการแก้ไขข้อมูลดังกล่าวจะมีการแจ้งบนเว็บไซต์เพื่อให้ท่าน ทราบ ซึ่งหากท่านใดไม่ตกลงกับนโยบายที่ได้มีการแก้ไขใหม่ ท่านสามารถยกเลิกการเป็นสมาชิกกับเราได้ 
		                                     </p>
		                                  </div>
		                               </div>
		                            </div>
								</div>
							</div>
						</div>
						
						 
						
					</div>	              
	
	            </div>
			</div>
		</div>
 	</div>
 	
 	
 
 </div>
 </div>
 
 <!-- Load javascripts at bottom, this will reduce page load time -->
    <!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
    <!--[if lt IE 9]>
    <script src="${tg.url('/theme/assets/global/plugins/respond.min.js')}"></script>
    <![endif]--> 
    <script src="${tg.url('/theme/assets/global/plugins/jquery-1.11.0.min.js')}" type="text/javascript"></script>
    <script src="${tg.url('/theme/assets/global/plugins/jquery-migrate-1.2.1.min.js')}" type="text/javascript"></script>
    <script src="${tg.url('/theme/assets/global/plugins/bootstrap/js/bootstrap.min.js')}" type="text/javascript"></script>      
    <script src="${tg.url('/theme/assets/frontend/layout/scripts/back-to-top.js')}" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
	
 
    <script src="${tg.url('/theme/assets/global/plugins/backstretch/jquery.backstretch.min.js')}" type="text/javascript"></script>
    <script type="text/javascript" src="${tg.url('/theme/assets/global/plugins/select2/select2.min.js')}"></script>
    
	
	<script src="${tg.url('/theme/assets/global/scripts/metronic.js')}" type="text/javascript"></script>
    <script src="${tg.url('/theme/assets/frontend/layout/scripts/layout.js')}" type="text/javascript"></script>
   <!--   <script src="${tg.url('/theme/assets/admin/layout/scripts/layout.js')}" type="text/javascript"></script> -->

    <script type="text/javascript">
     
    
        jQuery(document).ready(function() {
        	Metronic.init();
            Layout.init();    
             
      
           // Layout.initTwitter();
        
            
       		  Languages.init();
            
          
            
        });
    </script>
    <!-- END PAGE LEVEL JAVASCRIPTS -->
    
 
  </body>
</html>

