<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="metronic_theme/master.html" />

  <head>
    <title>About</title>
 
  </head>
 <body>
 <div class="main">
 <div class="container">
 	<div class="row service-box margin-bottom-20">
 		<div class="content-page">
 			<div class="row">
	 		
			 	<center>
			 	<img src="/img/function_about.png"/>
			 	</center>
			</div>
		
		
		<div class="row">
			<div class="thumbnail">
				<h3>    <strong>Our Contacts</strong> </h3>
				<p>jobmatcher Co., Ltd. Moo 17, Bangna-Trad Rd., KM 15, Bangpleeyai, Bangplee Samut Prakan, 10540 Thailand</p>
				<p><i class="fa fa-phone fa-1x"> Telephone: +66(0)23161398-99</i>  </p>
				<p><i class="fa fa-fax fa-1x"> Fax: +66(0)23161397</i>  </p>
				<p><i class="fa fa-file-text fa-1x"> Email: <a href="mailto:info@metronic.com">pollsurfvey@gmail.com</a>  </i>  </p>
				 
				
				 
			</div>
		</div>
		</div>
 	</div>
 	
 	
  
 
 </div>
 </div>
  </body>
</html>
